.navbar{
  height: 60px;
  background-color:black;
  display: flex;
  justify-content: space-between;
  background-attachment: fixed;
}
.nav{
  background-color:black;
  height: 60px;
  width: 95px;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
}
#logo{
  background-image: url(img/Logo.jpg) ;
  background-size: cover;
  height: 60px;
  width:180px;
}
#but{
  background-color:black;
  height: 30px;
  width: 95px;
  border-style: none;
  
  color: rgba(255, 255, 255, 0.87);
}
.nav:hover{
  background-color:rgb(70, 69, 69);
  color: rgb(255, 255, 255);
}
#but:hover{
  background-color:rgb(70, 69, 69);
  color: rgb(255, 255, 255);
}
@media (width <= 800px) {
#logo{
  background-image: url(img/Logo\ chiquito.jpg) ;
  background-size: cover;
  height: 60px;
  width:50px;
}
}
#login {
    margin: 0;
    padding: 0;
    background: url(img/FLogin.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 5%;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box .shop {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-left: 80px;
  }
  
  .login-box .shop:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
}
#aboutUs{ 
  background-image: url(https://live.staticflickr.com/620/21200032406_a9f5a7f198_b.jpg);
  background-repeat:  no repeat;   
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0%;
}
P, h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .frontview{
   width: 100%; background-color: #ffffff; 
   z-index: 100%;
   margin-right: 0;      
   margin-top : 0;
   margin-bottom: 5%; 
   margin-left: 0;
   border: 2px solid #ffffff;
   border-radius: 5px;
  
  
  }
  .title{
    font-size: 50px;
    color: #313131 ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .text{
   width: 100%; background-color: #ffffff; 
   height: 40%;
   z-index: 100%;
   margin-right: 0;      
   margin-top : 0;
   margin-bottom: 5%; 
   margin-left: 0;
   border: 2px solid #ffffff;
   border-radius: 5px;

  
  
  }

  .quienesomos1{
font-size: 40px ;

  }
  .quienesomos{
font-size: 20px ;

   }   
  .unidos{
     width: 100%;
     
     
  height: 20%;
  }
  .bannerunidos1{
    font-size: 45px;
    color: #ffffff;
    z-index: 100%;
    position: absolute; top: 270px; left: 7%;

  }
  .bannerunidos{
    font-size: 40px;
    color: #ffffff;
    z-index: 100%;
    position: absolute; top: 760px; left: 7%;

  }
  .banner{
      font-size: 35px; 
      color: #ffffff;
      z-index: 100%   ;
      position: absolute; top: 400px; left: 7%;

  } 